
langchain-google-genai
langchain-openai
langchain-core
langchain-mcp-adapters

langgraph

pydantic
numpy
scipy
matplotlib

pinecone

python-dotenv

loguru

mcp

ipython
jupyter

httpx

fastapi
uvicorn